---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const identity = {
  name: "Alexandra Stauffer",
  role: "MUSA Student",
  location: "Weitzman School of Design, at the University of Pennsylvania",
  hobbies: ["singing", "language learning 你好", "playing card games", "petting cats"]
};

const skills = [
  "HTML/CSS",
  "ArcGis Pro",
  "Python",
  "JavaScript (in progress)",
  "SQL (in progress)",
  "Astro (in progress)"
];

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "red";
const fontWeight = "bold";
const textCase = "uppercase";
---

<BaseLayout pageTitle={pageTitle}>
  <h2>... and my new Astro site!</h2>

  <p>
    I am an urban spatial analytics student who followed the Astro blog tutorial to create this site for a class project.
  </p>


  <h2>Here is a little about me:</h2>
  <ul>
    <li>My name is {identity.name}.</li>
    <li>I am a {identity.role}.</li>
    <li>My school is the {identity.location}.</li>
    {identity.hobbies.length >= 2 && (
      <li>
        Two of my hobbies are: {identity.hobbies[0]} and {identity.hobbies[1]}
      </li>
    )}
  </ul>

  <h2>Here are some of my skills:</h2>
  <ul>
    {skills.map((skill) => (
      <li class="skill">{skill}</li>
    ))}
  </ul>

  {happy && <p>I am happy to be learning Astro!</p>}
  {!finished && <p>I am still working on the Astro tutorial.</p>}
  {goal === 3 ? (
    <p>I am on goal 3 of the Astro tutorial.</p>
  ) : (
    <p>I have not reached goal 3 yet.</p>
  )}

  {/* If you want to style the layout’s <h1> on this page, use is:global */}
  <style is:global define:vars={{ skillColor, fontWeight, textCase }}>
    h1 {
      color: purple;
      font-size: 4rem;
    }
    .skill {
      color: var(--skillColor);
      font-weight: var(--fontWeight);
      text-transform: var(--textCase);
    }
  </style>
</BaseLayout>
